<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/style/cart.css">

   
</head>
<body >
    <nav>
        <ul>
            <li><button id="homeBtn">Home</button></li>
            <li><button id="productsBtn">Admin Products</button></li>
            <li><button id="userproductBtn"> User Products</button></li>
            <li><button id="ordersBtn">Ordes</button></li>
          
        </ul>
    </nav>
    <h1 id="heading">All Products</h1>
    <div id="productList" class="product-list"></div>


    
   

</body>
<div class="orderdiv">
   <button id="orderbtn">Order</button> 
</div>
<script src="/script/cart.js"></script>
</html>
