<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style/products.css">
</head>
<body onload="fetchProducts()">
    <nav>
        <ul>
            <li><button id="homeBtn">Home</button></li>
            <li><button id="productsBtn">Admin Products</button></li>
            
            <li><button id="cartBtn">Cart</button></li>
            <li><button id="ordersBtn">Ordes</button></li>
        </ul>
    </nav>
    <h1>All Products</h1>
    <div id="productList" class="product-list"></div>
    <div id="productdetail" class="product-detail" style="display: none;"></div>

    
    <script src="script/user.js"></script>

</body>
</html>
